body{
    padding: 30px;
}
h1{
    margin-bottom: 30px;
}
.row{
    margin-bottom: 20px;
}
label{
    display: inline-block;
    width: 50px;
}
input{
    width: 50px;
}
button{
    padding: 10px;
    font-size: 16px;
}
#result{
    margin-top: 20px;
    font-size: 16px;
}